body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/87/8b/d5/878bd5baee9c46e1fd47097650f4f6a0.jpg");
    background-size: 100%;
    background-position-y: 0;
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    margin: 0 100px;
}

#textBox, #start, h1 {
    background-color: #aa730cce
}

#start {
    padding: 20px 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 100px;
}